body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./img/bilbo_background.jpg);
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
  src: '../fonts/Mtcorsva.ttf';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
  src: '../fonts/Mtcorsva.ttf';
}

input {  
  font-family: 'Monotype Corsiva', 'Times New Roman', Times, serif;
  src: '../fonts/Mtcorsva.ttf';
}